<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
       {% block stylesheets %}
            {% stylesheets
                'css/general.css'
                'css/bootstrap.min.css'
                'css/fileinput.min.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
         <header>
             {% include "parts/nav.html.twig" %}
         </header>

         <section>
             <div class="container" style="padding-top: 10px;">
                 {% for label, flashes in app.session.flashbag.all %}
                     {% for flash in flashes %}
                         <div class="alert alert-{{ label }}">
                             {{ flash }}
                         </div>
                     {% endfor %}
                 {% endfor %}
             </div>
             {% block body %}{% endblock %}
         </section>
        {% block script %}
            {% javascripts 'js/jquery.js'
                'js/bootstrap.min.js'
                'js/canvas-to-blob.min.js'
                'js/fileinput.min.js'
                'js/fileinput_locale_fr.js' output='js/app.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
