{% extends 'base.html.twig' %}

{% block body %}
    <h1>Screen list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for screen in screens %}
            <tr>
                <td><a href="{{ path('screen_show', { 'id': screen.id }) }}">{{ screen.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('screen_show', { 'id': screen.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('screen_edit', { 'id': screen.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('screen_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
