{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 style="display: inline-block">Modification de {{ project.title }}</h1>
        <a href="{{ path('project_show', {'project': project.id}) }}" class="pull-right"><span style="margin-top: 25px;" class="btn btn-default">Annuler</span></a>
        <hr />
        {{ form_start(edit_form) }}
        <div class="form-group">
            <label for="title">Nom:</label>
            {{ form_widget(edit_form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            {{ form_widget(edit_form.description, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
        </div>
        <hr />
        <input type="submit" value="Modifier" class="pull-right btn btn-success">
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
