{{ form_start(form, {'attr': {'role': 'form'}}) }}
<div class="form-group">
    <label for="title">Nom:</label>
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}, 'id': 'title'}) }}
</div>
<div class="form-group">
    <label for="description">Description:</label>
    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '20'}, 'id': 'description'}) }}
</div>
<hr />
<div class="form-group">
    <label for="platform">Plateforme:</label><br />
    <div class="checkbox">
        <label for="windows">
            {{ form_widget(form.windows, {'attr': {'class': 'styled'}, 'id': 'windows'}) }}
            Windows
        </label>
    </div>

    <div class="checkbox">
        <label for="linux">
            {{ form_widget(form.linux, {'attr': {'class': 'styled'}, 'id': 'linux'}) }}
            Linux
        </label>
    </div>

    <div class="checkbox">
        <label for="mac">
            {{ form_widget(form.mac, {'attr': {'class': 'styled'}, 'id': 'mac'}) }}
            Mac OS
        </label>
    </div>
</div>
<div class="form-group">
    <label for="bin">Binnaire</label>
    {{ form_widget(form.bin.file, {'attr': {'class': 'styled'}, 'id': 'bin'}) }}

</div>

<div class="form-group">
    <label for="srcs">Sources</label>
    {{ form_widget(form.sources.file, {'attr': {'class': 'file', 'type': 'file'}, 'id': 'srcs'}) }}
</div>

<div class="form-group">
    <label for="membres">Membres</label>
    <ul id="members-fields-list"
        data-prototype="{{ form_widget(form.members.vars.prototype)|e }}">
        {% for member in form.members %}
            <li>
                {{ form_errors(member) }}
                {{ form_widget(member) }}
                <a href="#" onclick="this">X</a>
            </li>
        {% endfor %}
    </ul>

    <a href="#" id="add-another-member">Ajouter un membre</a>
</div>
<hr />
<input type="submit" value="Creer" class="pull-right btn btn-success">
{{ form_end(form) }}