{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Jeux
                    <small>2016</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
            {% for project in projects %}
                {% if loop.index0 is divisible by(3)%}
                    <div class="row">
                {% endif %}
                <div class="col-md-4 portfolio-item">
                    <a href="{{ path('project_show', {'project': project.id}) }}">
                        <img class="img-responsive menu-img center-block" src="
                            {% if project.screens|length != 0 %}
                                {{ asset('uploads/' ~ project.screens[0].path) }}
			                {% else %}
                        	    http://placehold.it/700x400
			                {% endif %}
			            " alt="{{ project.title }} screenshot" />
                    </a>
                    <h3>
                        <a href="{{ path('project_show', {'project': project.id}) }}">{{ project.title }}</a>
                    </h3>
                    <p>{{ project.description|truncate(200, true, '...')  }}</p>
                </div>
                {% if loop.index is divisible by(3) or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        <!-- /.row -->
        <hr>


    </div>
{% endblock %}