{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ project.title }}
                <small>Members</small>
                {% if app.user != null and app.user.project == project %}
                    <div class="pull-right">
                        <a href="{{ path('project_delete', {'id': project.id}) }}"><span class="btn btn-danger">Supprimer</span></a>
                        <a href="{{ path('project_edit', {'id': project.id}) }}"><span class="btn btn-info">Editer</span></a>
                        <a href="{{ path('screen_index', {'project': project.id}) }}"><span class="btn btn-info">Gerer les captures</span></a>
                    </div>
                {% endif %}
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-lg-12">

            {% if project.screens|length != 0 %}
                <div class="col-lg-8">
                    <div id="screens" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for img in project.screens %}
                                <li data-target="#screens" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %}class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            {% for img in project.screens %}
                                <div class="item {% if loop.index0 == 0 %}active{% endif %}">
                                    <img class="img-show img-responsive center-block" src="{{ asset('/uploads/' ~ img.path) }}" alt="screen n°{{ loop.index }}">
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#screens" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#screens" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            {% endif %}

            <h3>Description</h3>
            <p>{{ project.description|nl2br }}</p>
            <h3>Details</h3>
            <ul>
                {% if project.windows or project.linux or project.mac %}
                <li>
                    plateforme: {% if project.windows %} Windows{% if project.linux or project.mac %} /{% endif %}{% endif %}
                    {% if project.linux %} Linux{% if project.mac %} /{% endif %}{% endif %}
                    {% if project.mac %} Mac OS{% endif %}
                </li>
                {% endif %}
                {% if project.bin != NULL %}
                    <li>Binaire: <a href="{{ project.bin }}">{{ project.title }}</a></li>
                {% endif %}
                {% if project.sources != null %}
                    <li>Sources: <a href="{{ project.sources }}">Télécharger</a></li>
                {% endif %}
            </ul>


            </div>

    </div>
    <!-- /.row -->

</div>
{% endblock %}
