{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ project.title }}
                <small>Members</small>
                {% if app.user != null and app.user.project == project %}
                    <div class="pull-right">
                        <a href="{{ path('project_delete', {'id': project.id}) }}"><span class="btn btn-danger">Supprimer</span></a>
                        <a href="{{ path('project_edit', {'id': project.id}) }}"><span class="btn btn-info">Editer</span></a>
                    </div>
                {% endif %}
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3>Description</h3>
            <p>{{ project.description }}</p>
            <h3>Details</h3>
            <ul>
                {% if project.bin != NULL %}
                    <li>Binaire: <a href="{{ project.bin }}">{{ project.title }}</a></li>
                {% endif %}
                {% if project.sources != null %}
                    <li>Sources: <a href="{{ project.sources }}">Télécharger</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
    <!-- /.row -->

</div>
{% endblock %}
